
*.vsidx
*.vsidx
*.vsidx
*.v2
*.v1
HR-Management-System/.vs/HR-Management-System/v17/.suo
*.v2
*.v2
*.v2
HR-Management-System/.vs/HR-Management-System/v17/.suo
*.v2
*.v2
*.config
*.config
HR-Management-System/.vs/HR-Management-System/v17/.suo
*.dll
*.pdb
*.user
*.dll
*.pdb
*.json
*.sentinel
*.v2
*.v1
HR-Management-System/.vs/HR-Management-System/v17/.suo
*.dll
*.pdb
*.cache
*.json
*.sentinel
