
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime


<div id="sidebar" class="active">
    <div class="sidebar" style="position:absolute">
        @*<a class="active" href="/" style="padding: 10px" >New Application</a>
            <hr style="border: 1px solid red;">*@

        <a href="/">Student Dashboard</a>
        <hr style="border: 1px solid Blue;">

        <a href="/myprofile">My Profile</a>
        <hr style="border: 1px solid Blue;">

    </div>
</div>


@code {



}
